body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background: linear-gradient(to right bottom, #734b6d, #42275a);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}

.wrapper .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 380px;
}

.wrapper .main #registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    height: 100%;
    min-height: 530px;
    max-height: 530px;
    border: 3px solid #e2e2e2;
    border-radius: 10px;
    background-color: #2c2c48da;
}

.wrapper .main #registration-form #title {
    margin-bottom: 45px;
    margin-top: 25px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #e2e2e2;
}

.wrapper .main #registration-form .tab .title {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 1.5rem;
    height: 44px;
    width: 100%;
    max-width: 345px;
    background-color: #00000057;
    border-radius: 10px;
    text-align: center;
    color: #e2e2e2;
}

.wrapper .main #registration-form .tab#personal-info,
.wrapper .main #registration-form .tab#sex,
.wrapper .main #registration-form .tab#areas,
.wrapper .main #registration-form .tab#dropdown,
.wrapper .main #registration-form .tab#comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0 5px;
    font-size: 1.4rem;
    color: #e2e2e2;
}

.wrapper .main #registration-form .tab#personal-info {
    align-items: flex-start;
}

.wrapper .main #registration-form .tab#personal-info #first-name,
.wrapper .main #registration-form .tab#personal-info #last-name,
.wrapper .main #registration-form .tab#personal-info #email,
.wrapper .main #registration-form .tab#personal-info #age {
    align-self: stretch;
    padding: 5px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    border: none;
    background-color: #0000002f;
    font-size: 1.1rem;
    font-family: Montserrat, sans-serif;
    color: #e2e2e2;
}

.wrapper .main #registration-form .tab .options .option {
    margin: 30px;
    padding: 10px 20px;
    background-color: #0000002f;
    border-radius: 10px;
    width: 305px;
    
}

.wrapper .main #registration-form .tab#areas .options .option {
    margin: 20px;
    padding: 10px 20px;
    background-color: #0000002f;
    border-radius: 10px;
}

.wrapper .main #registration-form .tab#dropdown #countries {
    height: 35px;
    width: 345px;
    padding: 0 5px;
    margin: 115px 0;
    border: none;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    background-color: #2A263F;
    color: #e2e2e2;
}

.wrapper .main #registration-form .tab#dropdown #countries option {
    background-color: #2A263F;
    color: #e2e2e2;
}

.wrapper .main #registration-form .tab#comments textarea {
    height: 230px;
    width: 100%;
    max-width: 330px;
    padding: 5px 5px;
    margin: 35px 0 5px 0;
    border: none;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    background-color: #2A263F;
    color: #e2e2e2;
    resize: none;
}

.wrapper .main #registration-form .tab#final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    padding: 20px 0;
    color: #e2e2e2;
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: center;
}

.wrapper .main #registration-form #final #home {
    padding: 5px 70px;
    margin: 60px 0;
    border: none;
    border-radius: 10px;
    background: #b14783;
    font-size: 1.4rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #e2e2e2;   
}

.wrapper .main #registration-form input:focus,
.wrapper .main #registration-form textarea:focus {
    outline: 1px solid #b14783;
}

.wrapper .main #registration-form .tab {
    display: none !important;
}

.wrapper .main #registration-form #buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
}

.wrapper .main #registration-form #buttons button {
    width: 44%;
    margin: 0 5px;
    padding: 5px 0;
    border: none;
    border-radius: 10px;
    background: #b14783;
    font-size: 1.3rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #e2e2e2;
}

.wrapper #steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-self: stretch;
    margin-top: 15px;
}

.wrapper #steps .step {
    height: 18px;
    width: 18px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    opacity: 0.5;
}
