body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .main .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .main #buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

